.main-container {
    display: flex;
    flex-direction: row;
    /* max-width: 1400px; */
    margin: 0 auto;
}

.fixed-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.feed-section {
    display: flex;
    flex-direction: row;
    margin-left: 350px;
}

.post-section {
    width: 75%;
    border-radius: 1px solid rgba(0, 0, 0, 0.1);
}