.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
}

.fixed-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.feed-section {
    display: flex;
    flex-direction: row;
    margin-left: 22%;
    width: 100%;
}

.fixed-side-container a {
    display: flex;
    padding: 8px;
    text-decoration: none;
    text-transform: capitalize;
}

.fixed-side-container nav {
    margin: 0 12px;
}

.insta-text {
    height: 120px;
}

.side-nav {
    display: flex;
    padding-left: 24px;
    cursor: pointer;
    margin: 12px 0;
}

.side-nav:hover {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.034);
}

.side-nav a {
    color: black;
    font-size: 16px;
    font-weight: 700;
}