.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
}

.fixed-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.feed-section {
    display: flex;
    flex-direction: row;
    margin-left: 22%;
    width: 78%;
}

.fixed-side-container a {
    display: flex;
    padding: 8px;
    text-decoration: none;
    text-transform: capitalize;
}

.fixed-side-container nav {
    margin: 0 12px;
}

.insta-text {
    height: 120px;
}

.side-nav {
    display: flex;
    padding-left: 24px;
    cursor: pointer;
    margin: 12px 0;
}

.side-nav:hover {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.034);
}

.side-nav a {
    color: black;
    font-size: 16px;
    font-weight: 700;
}

.mobile-view {
    display: none;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.mobile-nav-container {
    display: flex;
    justify-content: space-around;
}

.mobile-nav {
    border: 1px solid;
    border-radius: 50%;
    padding: 12px 16px;
}

/* ////////////////mobile view////////////////// */

@media only screen and (max-width: 500px) {

    .fixed-side-container,
    .end-section {
        display: none;
    }

    .fixed-sidebar {
        border-right: transparent !important;
    }

    .feed-section {
        margin: 0;
        width: 100% !important;
    }

    .profile-content {
        margin: 18px;
    }

    .middle-section {
        width: 100% !important;
    }

    .post-section .post {
        width: 100% !important;
    }

    .mobile-view {
        display: block;
    }

    .profile-detail-section {
        max-width: 400px !important;
    }

    .profile-post img {
        height: 180px !important;
        width: 150px !important;
    }

    .profile-image {
        height: 150px !important;
        width: 150px !important;
    }

    .emoji {
        display: none;
    }
}